.wrapper{
  display: flex;
  flex-direction: column;
}
.partBtn{
  display: flex;
  justify-content: center; 
}
.btn{
  padding: 5px 10px;
  background: transparent;
  border: 1px solid blue;
  border-radius: 20px;
  color: blue;
  cursor: pointer;
}
.btn + .btn{
  margin-left: 10px;
}
